.agregar{
    padding: 3rem 1rem;
    background-color: var(--background-secundario);
    display: flex;
    justify-content: center;
 }
 @media screen and (min-width: 1024px) {
 
    .agregar{
         padding: 5rem 5rem;
     }
}