.cabecera__buscador{
   order: 1;
    position: relative;
    
}


.cabecera__buscador-input{
    width: 230px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 1rem;
    background-color: var(--background-secundario);
}

 button.cabecera__buscador-boton { 
   
    background-color: var(--background-secundario);
    padding: 10px 20px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 50px 50px 0;
    
    font-size: 1rem;
    
}



@media screen and (min-width: 768px) {
    .cabecera__buscador{
        order: 0;
         position: relative;
     }

    .cabecera__buscador-input{
        width: 300px;
    }
    
}


@media screen and (min-width: 1024px) {
    .cabecera__buscador-input{
        width: 500px;
    }
    
}


@media screen and (max-width: 513px){
    .cabecera__buscador{
        margin-top: 1.5rem;
        width: 100%;
    }
    .cabecera__buscador-input{
        width: 100%;
    }

}