.rodapie-container{
    display: flex;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1170px) {
    .rodapie-container{
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .rodapie-container{
        flex-direction: column;
        align-items: center;
        padding-right: 1rem;
    }
}